
/** ADD YOUR AWESOME CODES HERE **/



.navbar-brand img {
    max-width: 180px !important;
    height: auto !important;
    display: block;
}

/logo barını sola çekmek için style.cssin üstüne yazdım hata verirse bunu yada style.cssi değiş/
nav.navbar.bootsnav .navbar-header {
    float: left !important;
    text-align: left !important;
    width: auto !important;
}

nav.navbar.bootsnav .navbar-nav {
    float: right !important;
    text-align: right !important;
    width: auto !important;
}
